html {
    font-size: 62.5%;
}

body {
    margin: 0;
}

main {
    padding: 8%;
    background-color: #cd212a;
}

#header-left {
    background-color: #056702;
    width: 50%;
    height: 200px;
    float: left;
    margin-bottom: 40px;
}

#header-right {
    background-color: #056702;
    width: 50%;
    height: 200px;
    float: left;
    margin-bottom: 40px;
}

#logo {
    height: 80%;
    margin: 25px 0 0 100px;
}

ul {
    list-style-type: none;
    margin: 120px 0 0 0;
    padding: 20px;
    background-color: #056702;
  }

li {
    display: inline;
    padding: 20px;
    margin: 20px;
    font-family: 'Trebuchet MS';
    font-size: 2rem;
    color: white;
}
  
li > a {
    text-decoration: none;
    color: white;
}

#welcome, #menu, #location, #contact {
    clear: left;
    margin: 40px;
    padding: 20px;
    box-sizing: border-box;
    background-color: white;
    border-radius: 10px;
    box-shadow: 7px 7px 10px 3px #6E0303;
}

h1 {
    font-family: Georgia;
    font-size: 3.6rem;
    color: black;
    text-align: center;
}

h2 {
    font-family: Georgia;
    font-size: 2.4rem;
    color: black;
    text-align: center;
    margin-top: 40px;
}

h3 {
    font-family: Georgia;
    font-size: 2rem;
    color: black;
    text-align: center;
    margin-top: 30px;
}

h4 {
    font-family: Georgia;
    font-size: 1.6rem;
    color: white;
    background-color: black;
    padding: 5px 0 5px 0;
    text-align: center;
    margin-top: 30px;
}

p {
    font-family: 'Trebuchet MS';
    font-size: 1.8rem;
    color: black;
    text-align: center;
}

#back-to-top {
    font-family: 'Trebuchet MS';
    font-size: 1.8rem;
    color: white;
}

#report-link {
    font-family: 'Trebuchet MS';
    font-size: 1.6rem;
    color: black;
    display: block;
    text-align: center;
    margin-top: 30px;
}

#copyright {
    font-family: 'Trebuchet MS';
    font-size: 1.6rem;
    color: black;
    margin-bottom: 30px;
}

#report * {
    background-color: white;
    text-align: left;
}

