html {
    font-size: 62.5%;
}

body {
    margin: 0;
}

main {
    padding: 8%;
}

#header-left {
    background-color: lightgrey;
    width: 50%;
    height: 200px;
    float: left;
}

#header-right {
    background-color: lightgrey;
    width: 50%;
    height: 200px;
    float: right;
}

#logo {
    height: 80%;
    padding-top: 20px;
}

ul {
    list-style-type: none;
    margin: 120px 0 0 0;
    padding: 20px;
    background-color: lightgray;
  }

li {
    display: inline;
    padding: 20px;
    margin: 20px;
    font-family: 'Trebuchet MS';
    font-size: 2rem;
}
  
li > a {
    text-decoration: none;
}

#welcome, #menu, #location, #contact{
    margin-top: 15%;
}

h1 {
    font-family: Georgia;
    font-size: 3.6rem;
    color: black;
    text-align: center;
}

h2 {
    font-family: Georgia;
    font-size: 2.4rem;
    color: black;
    text-align: center;
}
h3 {
    font-family: Georgia;
    font-size: 2rem;
    color: black;
    text-align: left;
}

p {
    font-family: 'Trebuchet MS';
    font-size: 1.8rem;
    color: navy;
}

#top {
    font-size: 2rem;
}

footer > *{

    font-family: 'Trebuchet MS';
    font-size: 1.6rem;
    color: black;
}